.contact-form-div .form-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #5889D6;
    margin-bottom: 25px;
}

.contact-form-div form input::placeholder,
.contact-form-div form textarea::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #9F9F9F;
}

.contact-form-div form input,
.contact-form-div form textarea {
    border: 1.6px solid #B4BEC8;
    margin-bottom: 20px;
    box-shadow: none !important;
}

.contact-form-div form input {
    padding: 8px
}



.contact-form-div .submit-btn-container button {
    background-color: #407BFF !important;
    width: 100%;
    margin-top: 15px
}