footer .container-fluid {
    display: flex;
    justify-content: center;
}

.footer-middle-container {
    display: flex;
}

.footer-middle-container ul.custom-footer-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-top: 35px;
    margin-left: 40px
}

.footer-middle-container ul.custom-footer-links a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
}

.footer-middle-container ul.custom-footer-links a:hover {
    border-bottom: 2px solid #0d6efd;

}


footer {
    border-top: 1px solid #D8E3FE;
}

footer .logo-container img {
    margin: 10px 0px 0px 0px
}


@media screen and (max-width:767.20px) {
    footer .container-fluid {
        flex-direction: column;
        padding-left: 30px;
        margin: 20px 0px 5px 0px;

    }

    .footer-middle-container {
        flex-direction: column;
    }

    .footer-middle-container ul.custom-footer-links {
        flex-direction: column;
        margin: 20px 0px -50px 0px;
        padding: 0;


    }

    .footer-middle-container ul.custom-footer-links li {
        margin-top: -20px !important;

    }


    footer .logo-container img {
        margin: 10px 60px 10px -15px !important
            /* text-align: center; */
    }

}